<div class="row">
  <div class="col-md-2">
    <div class="card card-main">
      <span class="align-middle">Advertising</span>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="text-center">Get your Natal Chart instantly</h2><br>
    <form action="" method="post" class="nathal">
      <div class="row">
        <div class="offset-1 col-md-4">
          <div class="mb-3 row underline">
            <label for="time" class="col-sm-8 col-form-label">Time of Birth</label>
            <div class="col-sm-4">
              <input type="time" id="time" class="form-control">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="date" class="form-label underline">Date of Birth</label>
            <input type="date" id="date" class="form-control">
          </div>
        </div>
        <div class="offset-2 col-md-4">
          <div class="mb-3 row">
            <label class="form-label underline">Place of Birth</label>
            <div class="map col-md-12">
              <div class="card" style="height: 200px;"></div>
            </div>
            <div class="coordinates">
              <div class="cors">
                <label for="lat" class="col-sm-2 col-form-label">LAT</label>
                <input type="text" id="lat" class="form-control"><br><br>
              </div>
              <div class="cors">
                <label for="date" class="col-sm-2 col-form-label">LON</label>
                <input type="text" id="date" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <div class="card card-main">
      <span class="align-middle">Advertising</span>
    </div>
  </div>
</div>